In [ ]:
#QUES.1 Discuss String slicing with example.
#ANS.  String is a sequence of characters, represent and manipulate textual data.Characters are 
     # represented using numerical values.
      #String slicing allows us to extract a specific element which we want to extract.
      #The syntax for slicing is-
      #[start:end:stop]
      #Example:

In [2]:
#example
x="the syllabus is complete"
x[0:10:2]

'tesla'

In [3]:
#example of negative slicing
x="the syllabus is complete"
x[::-1]

'etelpmoc si suballys eht'

In [8]:
x="varnika"
x[2:7:2]

'ria'

In [ ]:
#QUES.2 Discuss the key features of list in python.
#ANS.  List is a mutable which means we can change or modify after its creation.
      # We can perform many functions like 
      # append()
       #pop()
       #remove() 
       #delete()
       #insert()
       #slice()

In [9]:
#example of append ()
x=[2,4,6,80]
x.append("zoo")
print(x)

[2, 4, 6, 80, 'zoo']

In [16]:
#example of pop()
x=["my", "dog", "is", "a", "boy"]
x.pop(3)
print(x)

['my', 'dog', 'is', 'boy']

In [19]:
#example of remove()
fruits=["apple", "car", "kiwi"]
fruits.remove("car")
print(fruits)

['apple', 'kiwi']

In [23]:
#example of insert()
x=[80.89,99,23,43,]
x.insert (4,"all good")
print(x)

[80.89, 99, 23, 43, 'all good']

In [ ]:
#QUES.3 Discuss how to access, modify, delete the element in list with example.
#ANS-   List provides various function which is already written in above ques.
       # To access the element , the element should be in square bracket.
       # Yes we can access , modify , delete the elements -

In [24]:
#example to access the element
a=[20,40,30,50,60]
print(a)

[20, 40, 30, 50, 60]

In [34]:
#example to access 
a=["30", "50", "89"]
print(a.index("89"))

2

In [35]:
#example to modify the elmenets
course=["mca", "bca", "bba"]
print(course)

['mca', 'bca', 'bba']

In [36]:
course=["mca", "bca", "bba"]
course[2]="btech"
print(course)

['mca', 'bca', 'btech']

In [27]:
#example to delete elmenets
course=["mca", "bca", "bba"]
course.clear()
print(course)

[]

In [ ]:
#QUES.4 Compare and contrast tuple ans list with example.
#ANS.   Tuple and List both are data structure which perform different functions.
        #Tuples are immutable which means onces the tuple is created it cannot change .
        #Tuples are represented by ()
        #whereas List is mutable which means onces the list is created we can change, modify, update
        #also we can perform functions like 
        #append()
        #index()
        #count()
        #clear()

In [1]:
#example of tuple
a=(40.44, 87,65,89)
print(a)

(40.44, 87, 65, 89)

In [2]:
a=(40.44, 87,65,89)
a.append(90)
print(a)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
#the above shows that tuple cannot be change onces it is created.

In [6]:
#example of list
a=["23","45","65","76"]
print(a.index("23"))

0

In [ ]:
#the above example shows how the list created and we can make changes in a list by performing functions.

In [ ]:
#QUES.5 Describe the features of sets with example.
#ANS.   Sets are unauthorized collection of unique elements.
        #Sets are represented by {} brackets.
        #Duplication not allowed.

In [8]:
#example-
my_class={"st","st", "gen", "sc","st"}
print(my_class)

{'sc', 'gen', 'st'}

In [ ]:
#the above example shows if you write the elements in multiple times so it will not 
#print result as same as instead of it it will print a unique values.
#In sets we can add, remove, pop like we do in list, but in sets it will done randomly.

In [11]:
#example-
z={2,3,4,5,67}
z.add("54")
print(z)

{'54', 2, 3, 67, 4, 5}

In [ ]:
#in above example it add the element in random  place.

In [12]:
z={2,3,4,5,67}
z.pop()
print(z)

{3, 67, 4, 5}

In [ ]:
#it pop any element.

In [ ]:
#QUES.6 Discuss the use case of tuple ans sets in python.
#ANS.   Use case of tuples -
#Immutable data: Use tuples when you need to store immutable data, ensuring that the data cannot be modified.

#Memory efficiency: Tuples are more memory-efficient than lists for small, immutable collections

#Dictionary keys: Tuples can be used as dictionary keys, whereas lists cannot.

#Function arguments: Tuples are often used as function arguments when you need to pass multiple values.

In [14]:
#example of tuple
x=(20,30,40,50)
print(x)

(20, 30, 40, 50)

In [7]:
x=(20,30,40,50)
x.remove(30)
print(x)

AttributeError: 'tuple' object has no attribute 'remove'

In [ ]:
#the above example shows we can access tuple but we cannnot  make  any changes 
# onces it is created.

In [ ]:
#Use case of sets
# sets are mutauble we can change after its creation.
#It gives a unique values.
#It do not allows any duplication.
#It randamoly allocate the elemenst after performing functions like add, pop, remove.

In [16]:
#example-
my_class={2,2,3,5,67,4,56,5}
print(my_class)

{2, 3, 67, 4, 5, 56}

In [ ]:
#above example shows the unique elements.

In [17]:
my_class={2,2,3,5,67,4,56,5}
for i in my_class:
    print(my_class)

{2, 3, 67, 4, 5, 56}
{2, 3, 67, 4, 5, 56}
{2, 3, 67, 4, 5, 56}
{2, 3, 67, 4, 5, 56}
{2, 3, 67, 4, 5, 56}
{2, 3, 67, 4, 5, 56}

In [ ]:
#QUES.7 Discuss add,modify, delete in dictionary with example.
#ANS.   Dictionary is a type of data structure which is mutuable in nature, but keys 
        #are immutable in nature.
        #Only string and numbers can be used as a key of dict.
        #It is represented by {}brackets and separate each key-value pair with a comma.

In [19]:
#example to add element-
z=	{
  "brand": "Ford",
  "gender": "male",
  "year": 2024
}
z["color"] = "red"
print(z)

{'brand': 'Ford', 'gender': 'male', 'year': 2024, 'color': 'red'}

In [ ]:
#above example shows how to add element in code.

In [20]:
#example of modify element-
z={1:"house", 2:"phone", 3:"school"}
print(z)

{1: 'house', 2: 'phone', 3: 'school'}

In [23]:
z={1:"house", 20:"phone", 3:"school"}
z.pop(20)
print(z)

{1: 'house', 3: 'school'}

In [26]:
#example of delete element-
z={1:"house", 2:"phone", 3:"school"}
z.clear()
print(z)

{}

In [ ]:
#the above example shows how the whole dictionary gets deleted by clear().

In [ ]:
#QUES.8 Discuss dictionary keys are being immutable with example.
#ANS.   Python dictionaries allow us to associate a value to a unique key, and then to quickly 
        #access this value.
        #Keys are immutable because it uses the hash value calculated from the key value to 
        #find the key. If the key were a mutable object, its value could change, and thus 
        #its hash could also change.

In [1]:
#example to access the dictionary
z={20:"house 1", 30:"house 2", 40:"house 3"}
print(z)

{20: 'house 1', 30: 'house 2', 40: 'house 3'}

In [4]:
#example to access the keys
z={20:"house 1", 30:"house 2", 40:"house 3"}
y=z.keys()
print(y)

dict_keys([20, 30, 40])

In [5]:
#example keys are immutable
z={20:"house 1", 30:"house 2", 40:"house 3"}
y=z.keys()
y.append("50")
print(y)

AttributeError: 'dict_keys' object has no attribute 'append'

In [9]:
#in above example it signifies that dictionary can be modify, but keys cannot because it is immutable.

In [12]:
def greeting("vini"):
    print("baby","vini")

SyntaxError: invalid syntax (3334714658.py, line 1)